@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
body{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right,#dff9fb,#48dbfb,#1e3799,#0c2461);
    display: flex;
   
}
/*nav left start*/
.left{
    width: 15vw;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.left>img:hover{
    scale: 1.2;
}
/*nav left end*/
/*nav right start*/
.right{
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
   
}
.right>ul{ 
    display: flex;
}
.right>ul>a>li{
     color: white;
    margin: 10px;
    list-style: none;
    font-family: 'Roboto Serif', serif;
    
}
.right>ul>a>li:hover{
    color:#4cd137 ;
    cursor: pointer;
    scale: 1.1;
}
/*nav right end*/
/*content start */
.content{
    width: 100%;
    height: 80vh;
    background-image:url("https://cdn.sanity.io/images/0vv8moc6/biopharn/64e01bf1f7dbd9099e249e9c3247fdbb9a46b4b1-1280x720.jpg") ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
         /*data start*/
.data{
   width: 450px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.content>.data>.form-group{
    position: relative;
   /* border: 1px solid purple;*/
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #2c2c54;
    border-radius: 5px;
    border: 1px solid #48dbfb;
    
}
.content>.data>.form-group>.form-control{
    /*border: 1px solid green;*/
    height: 25px;
    width: 250px;
    position: absolute;
    right: 0;
    border-radius: 5px;
    padding-left: 30px;
    border: 2px solid black;
}

label{
   /* border: 1px solid red;*/
    font-weight: bold;
    color: white;
}

         /*button start*/
.save-data{
    background-color:#2c2c54;
    margin: 25px;
    height: 30px;
    width: 60px;
    font-weight: bold;
    color: #dff9fb;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #535c68;
    border:1px solid #48dbfb;
    margin-left: 350px;   
}
.save-data:hover{
    color: #4cd137;
    scale: 1.05;
    cursor: pointer;
}

            /*button end*/
        /*data end*/
    /*content end*/
.footer{
    width: 100%;
    height: 10vh;
    background:linear-gradient(to right, #192a56,#353b48,#130f40) ; 
}
